DATA TYPE

In [584]:
print(2 + 3 * 4)

14

In [585]:
print(2+3*4) #14
print((2+3)*4) #20
print(2**10) #1024
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
print(3/6) #0.5
print(3//6) #0
print(3%6) #3
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type

In [586]:
print((5 >= 1) and (5 <= 10))

True

In [587]:
the_sum = 0 
the_sum

0

In [588]:
the_sum = the_sum + 1
the_sum

1

In [589]:
the_sum = True
the_sum

True

- indexing [ ] Access an element of a sequence
- concatenation (+) Combine sequences together
- repetition (*) Concatenate a repeated number of times
- membership (in) Ask whether an item is in a sequence
- length (len) Ask the number of items in the sequence
- slicing [ : ] Extract a part of a sequence

 Lists, strings, and tuples are ordered collections

- append
- insert
- pop
- pop(i)
- sort
- reverse 
- del 
- index
- count
- remove

## LIST

In [590]:
my_list = [1,3,True,6.5]
my_list

[1, 3, True, 6.5]

In [591]:
my_list = [0] * 5
my_list

[0, 0, 0, 0, 0]

In [592]:
my_list = [1,2,3,4]
A = [my_list]*3
print(A)
my_list

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

[1, 2, 3, 4]

In [593]:
my_list[2]=45
print(A)

[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [594]:
my_list = [1024, 3, True, 6.5]
my_list.append(False)
my_list

[1024, 3, True, 6.5, False]

In [595]:
my_list.insert(2, 4.6)
my_list

[1024, 3, 4.6, True, 6.5, False]

In [596]:
my_list.pop()
my_list

[1024, 3, 4.6, True, 6.5]

In [597]:
my_list.pop(3)
my_list

[1024, 3, 4.6, 6.5]

In [598]:
my_list.sort()
my_list

[3, 4.6, 6.5, 1024]

In [599]:
my_list.reverse()
my_list

[1024, 6.5, 4.6, 3]

In [600]:
my_list.append(1024)
my_list

[1024, 6.5, 4.6, 3, 1024]

In [601]:
my_list.count(1024)

2

In [602]:
my_list.index(4.6)

2

In [603]:
my_list.remove(6.5)

In [604]:
print(my_list)

[1024, 4.6, 3, 1024]

In [605]:
del my_list[0]
my_list

[4.6, 3, 1024]

In [606]:
(54).__add__(21)

75

In [607]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [608]:
list(range(10, 20, 3))

[10, 13, 16, 19]

In [609]:
list(range(57,41,-1))

[57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42]

## Strings

In [610]:
my_name = "Ve08e"
my_name

'Ve08e'

In [611]:
my_name.center(15)

'     Ve08e     '

In [612]:
my_name.count("e")

2

In [613]:
my_name.find("8")

3

In [614]:
my_name.split('e')

['V', '08', '']

In [615]:
my_name.ljust(10)

'Ve08e     '

In [616]:
my_name.rjust(10)

'     Ve08e'

In [617]:
my_name.lower()

've08e'

In [618]:
wifu_name = "xaaraa"
wifu_name.split("a")

['x', '', 'r', '', '']

In [619]:
wifu_name = "xaraa"
wifu_name.split("a")

['x', 'r', '', '']

In [620]:
wifu_name = "xa.ar.aaaja"
wifu_name.split('a')

['x', '.', 'r.', '', '', 'j', '']

In [621]:
wifu_name = "xa  ar weq aqwe aaja"
wifu_name.split(' ')

['xa', '', 'ar', 'weq', 'aqwe', 'aaja']

## TUPLE

In [622]:
my_tuple = (2,True,4.96)
my_tuple

(2, True, 4.96)

In [623]:
len(my_tuple)

3

In [624]:
my_tuple[0]

2

In [625]:
my_tuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [626]:
my_tuple[0:2]

(2, True)

## Set

In [627]:
my_set = {3,6,"cat",4.5,False}
my_set

{3, 4.5, 6, False, 'cat'}

In [628]:
len(my_set)

5

In [629]:
False in my_set

True

In [630]:
my_set

{3, 4.5, 6, False, 'cat'}

In [631]:
your_set = {99,3,100}

In [632]:
my_set.union(your_set)

{100, 3, 4.5, 6, 99, False, 'cat'}

In [633]:
my_set | your_set

{100, 3, 4.5, 6, 99, False, 'cat'}

In [634]:
my_set.intersection(your_set)

{3}

In [635]:
my_set & your_set

{3}

In [636]:
my_set.difference(your_set)

{4.5, 6, False, 'cat'}

In [637]:
my_set - your_set

{4.5, 6, False, 'cat'}

In [638]:
{3,100}.issubset(your_set)

True

In [639]:
{3,100} <= your_set

True

In [640]:
my_set.add("house")
my_set

{3, 4.5, 6, False, 'cat', 'house'}

In [641]:
my_set.remove(4.5)
my_set

{3, 6, False, 'cat', 'house'}

In [642]:
my_set.pop()

False

In [643]:
my_set

{3, 6, 'cat', 'house'}

In [644]:
my_set.clear()
my_set

set()

In [645]:
set()

set()

## Dictionary

In [646]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
capitals

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison'}

In [647]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals['Iowa'])

DesMoines

In [648]:
capitals['Utah']='SaltLakeCity'
print(capitals)

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}

In [649]:
capitals['California']='Sacramento'
print(len(capitals))
capitals

4

{'Iowa': 'DesMoines',
 'Wisconsin': 'Madison',
 'Utah': 'SaltLakeCity',
 'California': 'Sacramento'}

In [650]:
for k in capitals:
    print(capitals[k], " is the capital of ", k)

DesMoines  is the capital of  Iowa
Madison  is the capital of  Wisconsin
SaltLakeCity  is the capital of  Utah
Sacramento  is the capital of  California

In [651]:
for k in capitals:
    print(capitals[k])

DesMoines
Madison
SaltLakeCity
Sacramento

In [652]:
phone_ext={'david':1410, 'brad':1137}
phone_ext

{'david': 1410, 'brad': 1137}

In [653]:
phone_ext.keys()

dict_keys(['david', 'brad'])

In [654]:
list(phone_ext.keys())

['david', 'brad']

In [655]:
"brad" in phone_ext

True

In [656]:
1410 in phone_ext

False

In [657]:
phone_ext.values()

dict_values([1410, 1137])

In [658]:
list(phone_ext.values())

[1410, 1137]

In [659]:
phone_ext.items()

dict_items([('david', 1410), ('brad', 1137)])

In [660]:
list(phone_ext.items())

[('david', 1410), ('brad', 1137)]

In [661]:
phone_ext.get("kent")

In [662]:
phone_ext.get("kent","NO ENTRY")

'NO ENTRY'

In [663]:
phone_ext

{'david': 1410, 'brad': 1137}

In [664]:
print(phone_ext.get("brad"))

1137

In [665]:
del phone_ext["david"]