DATA TYPE

In [22]:
print(2 + 3 * 4)

14

In [23]:
print(2+3*4) #14
print((2+3)*4) #20
print(2**10) #1024
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
print(3/6) #0.5
print(3//6) #0
print(3%6) #3
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type

In [24]:
print((5 >= 1) and (5 <= 10))

True

In [25]:
the_sum = 0 
the_sum

0

In [26]:
the_sum = the_sum + 1
the_sum

1

In [27]:
the_sum = True
the_sum

True

- indexing [ ] Access an element of a sequence
- concatenation (+) Combine sequences together
- repetition (*) Concatenate a repeated number of times
- membership (in) Ask whether an item is in a sequence
- length (len) Ask the number of items in the sequence
- slicing [ : ] Extract a part of a sequence

 Lists, strings, and tuples are ordered collections

- append
- insert
- pop
- pop(i)
- sort
- reverse 
- del 
- index
- count
- remove

## LIST

In [28]:
my_list = [1,3,True,6.5]
my_list

[1, 3, True, 6.5]

In [29]:
my_list = [0] * 5
my_list

[0, 0, 0, 0, 0]

In [30]:
my_list = [1,2,3,4]
A = [my_list]*3
print(A)
my_list

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

[1, 2, 3, 4]

In [31]:
my_list[2]=45
print(A)

[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [32]:
my_list = [1024, 3, True, 6.5]
my_list.append(False)
my_list

[1024, 3, True, 6.5, False]

In [33]:
my_list.insert(2, 4.6)
my_list

[1024, 3, 4.6, True, 6.5, False]

In [34]:
my_list.pop()
my_list

[1024, 3, 4.6, True, 6.5]

In [35]:
my_list.pop(3)
my_list

[1024, 3, 4.6, 6.5]

In [36]:
my_list.sort()
my_list

[3, 4.6, 6.5, 1024]

In [37]:
my_list.reverse()
my_list

[1024, 6.5, 4.6, 3]

In [39]:
my_list.append(1024)
my_list

[1024, 6.5, 4.6, 3, 1024, 1024]

In [40]:
my_list.count(1024)

3

In [43]:
my_list.index(4.6)

2

In [44]:
my_list.remove(6.5)

In [45]:
print(my_list)

[1024, 4.6, 3, 1024, 1024]

In [46]:
del my_list[0]
my_list

[4.6, 3, 1024, 1024]

In [47]:
(54).__add__(21)

75

In [48]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [49]:
list(range(10, 20, 3))

[10, 13, 16, 19]

In [52]:
list(range(57,41,-1))

[57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42]

## Strings