DATA TYPE

In [1]:
print(2 + 3 * 4)

14

In [2]:
print(2+3*4) #14
print((2+3)*4) #20
print(2**10) #1024
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
print(3/6) #0.5
print(3//6) #0
print(3%6) #3
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type

In [3]:
print((5 >= 1) and (5 <= 10))

True

In [4]:
the_sum = 0 
the_sum

0

In [5]:
the_sum = the_sum + 1
the_sum

1

In [6]:
the_sum = True
the_sum

True

- indexing [ ] Access an element of a sequence
- concatenation (+) Combine sequences together
- repetition (*) Concatenate a repeated number of times
- membership (in) Ask whether an item is in a sequence
- length (len) Ask the number of items in the sequence
- slicing [ : ] Extract a part of a sequence

 Lists, strings, and tuples are ordered collections

- append
- insert
- pop
- pop(i)
- sort
- reverse 
- del 
- index
- count
- remove

## LIST

In [7]:
my_list = [1,3,True,6.5]
my_list

[1, 3, True, 6.5]

In [8]:
my_list = [0] * 5
my_list

[0, 0, 0, 0, 0]

In [9]:
my_list = [1,2,3,4]
A = [my_list]*3
print(A)
my_list

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

[1, 2, 3, 4]

In [10]:
my_list[2]=45
print(A)

[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

In [11]:
my_list = [1024, 3, True, 6.5]
my_list.append(False)
my_list

[1024, 3, True, 6.5, False]

In [12]:
my_list.insert(2, 4.6)
my_list

[1024, 3, 4.6, True, 6.5, False]

In [13]:
my_list.pop()
my_list

[1024, 3, 4.6, True, 6.5]

In [14]:
my_list.pop(3)
my_list

[1024, 3, 4.6, 6.5]

In [15]:
my_list.sort()
my_list

[3, 4.6, 6.5, 1024]

In [16]:
my_list.reverse()
my_list

[1024, 6.5, 4.6, 3]

In [17]:
my_list.append(1024)
my_list

[1024, 6.5, 4.6, 3, 1024]

In [18]:
my_list.count(1024)

2

In [19]:
my_list.index(4.6)

2

In [20]:
my_list.remove(6.5)

In [21]:
print(my_list)

[1024, 4.6, 3, 1024]

In [22]:
del my_list[0]
my_list

[4.6, 3, 1024]

In [23]:
(54).__add__(21)

75

In [24]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [25]:
list(range(10, 20, 3))

[10, 13, 16, 19]

In [26]:
list(range(57,41,-1))

[57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42]

## Strings

In [27]:
my_name = "Ve08e"
my_name

'Ve08e'

In [28]:
my_name.center(15)

'     Ve08e     '

In [29]:
my_name.count("e")

2

In [30]:
my_name.find("8")

3

In [31]:
my_name.split('e')

['V', '08', '']

In [32]:
my_name.ljust(10)

'Ve08e     '

In [33]:
my_name.rjust(10)

'     Ve08e'

In [34]:
my_name.lower()

've08e'

In [35]:
wifu_name = "xaaraa"
wifu_name.split("a")

['x', '', 'r', '', '']

In [36]:
wifu_name = "xaraa"
wifu_name.split("a")

['x', 'r', '', '']

In [37]:
wifu_name = "xa.ar.aaaja"
wifu_name.split('a')

['x', '.', 'r.', '', '', 'j', '']

In [38]:
wifu_name = "xa  ar weq aqwe aaja"
wifu_name.split(' ')

['xa', '', 'ar', 'weq', 'aqwe', 'aaja']

## TUPLE

In [39]:
my_tuple = (2,True,4.96)
my_tuple

(2, True, 4.96)

In [40]:
len(my_tuple)

3

In [41]:
my_tuple[0]

2

In [42]:
my_tuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [43]:
my_tuple[0:2]

(2, True)

## Set

In [44]:
my_set = {3,6,"cat",4.5,False}
my_set

{3, 4.5, 6, False, 'cat'}

In [45]:
len(my_set)

5

In [46]:
False in my_set

True

In [47]:
my_set

{3, 4.5, 6, False, 'cat'}

In [48]:
your_set = {99,3,100}

In [49]:
my_set.union(your_set)

{100, 3, 4.5, 6, 99, False, 'cat'}

In [50]:
my_set | your_set

{100, 3, 4.5, 6, 99, False, 'cat'}

In [51]:
my_set.intersection(your_set)

{3}

In [52]:
my_set & your_set

{3}

In [53]:
my_set.difference(your_set)

{4.5, 6, False, 'cat'}

In [54]:
my_set - your_set

{4.5, 6, False, 'cat'}

In [55]:
{3,100}.issubset(your_set)

True

In [56]:
{3,100} <= your_set

True

In [57]:
my_set.add("house")
my_set

{3, 4.5, 6, False, 'cat', 'house'}

In [58]:
my_set.remove(4.5)
my_set

{3, 6, False, 'cat', 'house'}

In [59]:
my_set.pop()

'cat'

In [60]:
my_set

{3, 6, False, 'house'}

In [61]:
my_set.clear()
my_set

set()

In [62]:
set()

set()

## Dictionary

In [63]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
capitals

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison'}

In [64]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
print(capitals['Iowa'])

DesMoines

In [65]:
capitals['Utah']='SaltLakeCity'
print(capitals)

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison', 'Utah': 'SaltLakeCity'}

In [66]:
capitals['California']='Sacramento'
print(len(capitals))
capitals

4

{'Iowa': 'DesMoines',
 'Wisconsin': 'Madison',
 'Utah': 'SaltLakeCity',
 'California': 'Sacramento'}

In [67]:
for k in capitals:
    print(capitals[k], " is the capital of ", k)

DesMoines  is the capital of  Iowa
Madison  is the capital of  Wisconsin
SaltLakeCity  is the capital of  Utah
Sacramento  is the capital of  California

In [69]:
for k, v in capitals.items():
	print(k, v, sep=" -> ")

Iowa -> DesMoines
Wisconsin -> Madison
Utah -> SaltLakeCity
California -> Sacramento

In [ ]:
phone_ext={'david':1410, 'brad':1137}
phone_ext

{'david': 1410, 'brad': 1137}

In [ ]:
phone_ext.keys()

dict_keys(['david', 'brad'])

In [ ]:
list(phone_ext.keys())

['david', 'brad']

In [ ]:
"brad" in phone_ext

True

In [ ]:
1410 in phone_ext

False

In [ ]:
phone_ext.values()

dict_values([1410, 1137])

In [ ]:
list(phone_ext.values())

[1410, 1137]

In [ ]:
phone_ext.items()

dict_items([('david', 1410), ('brad', 1137)])

In [ ]:
list(phone_ext.items())

[('david', 1410), ('brad', 1137)]

In [ ]:
phone_ext.get("kent")

In [ ]:
phone_ext.get("kent","NO ENTRY")

'NO ENTRY'

In [ ]:
phone_ext

{'david': 1410, 'brad': 1137}

In [ ]:
print(phone_ext.get("brad"))

1137

In [ ]:
del phone_ext["david"]

In [ ]:


# Output the numbers to verify

In [1]:
my_bytes = bytes([72, 101, 108, 108, 111])

In [2]:
my_bytes

b'Hello'

In [3]:
my_bytes = bytes([72, 101, 108, 108, 111])
my_bytes

b'Hello'